<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Api-Angular</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <button type="button" (click)="newJoke()">New Joke</button>
    <div *ngIf="apiData?.joke">
      <p>{{ apiData?.joke }}</p>
    </div>
    <div *ngIf="apiData?.setup">
      <p>{{ apiData?.setup }}</p>
      <p>{{ apiData?.delivery }}</p>
    </div>
  </body>
</html>
